<%# app/views/items/show.html.erb %>
<%= image_tag @item.featured_image if @item.featured_image.attached? %>
<% cache @item do %>
  <h1><%= @item.name %></h1>
  <% @item.description %>
<% end %>

<% if authenticated? %>
  <%= link_to "Muokkaa", edit_item_path(@item) %>
  <%= button_to "Poista", @item, method: :delete, data: { turbo_confirm: "Oletko varma?" } %>
<% end %>

<%= link_to "Takaisin", items_path %>
